{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Tashkilot texnikalari</title>
{% endblock title %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Texnika va materiallar</h1>
    </div>
     <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <form class="row g-2 mt-1" method="get">
                    <div class="col-md-3">
                        <label for="status" class="form-label">Xolati</label>
                        <select id="status" name="status" class="form-select">
                             <option value="">Tanlang...</option>
                             <option value="active">Aktiv</option>
                             <option value="free">Bo'sh</option>
                             <option value="repair">Ta’mirda</option>
                             <option value="defect">Brak</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="employee" class="form-label">Xodim</label>
                        <select id="employee" name="employee" class="form-select">
                            <option value="">Tanlang...</option>
                            {% for emp in employees_boss %}
                                <option value="{{ emp.id }}">
                                    {{ emp.last_name }} {{ emp.first_name }} {{ emp.father_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Qidirish</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Texnikalar</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nomi</th>
                    <th scope="col">I/N</th>
                    <th scope="col">S/N</th>
                    <th scope="col">Soni</th>
                    <th scope="col">Yili</th>
                  </tr>
                </thead>
                <tbody id="technicsBody">
                {% for tex in technics %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>({{tex.category.name|default:"-"}}) {{tex.name|default:"-"}}</td>
                    <td>{{tex.inventory|default:"-"}}</td>
                    <td>{{tex.serial|default:"-"}}</td>
                    <td>{{tex.number|default:"-"}}</td>
                    <td>{{tex.year|default:"-"}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Materiallar</h5>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Material Nomi</th>
                    <th scope="col">Soni</th>
                    <th scope="col">Narxi</th>
                    <th scope="col">Qiymati</th>
                    <th scope="col">1C code</th>
                  </tr>
                </thead>
                <tbody id="materialBody">
                {% for mat in material %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{mat.name|default:"-"|truncatechars:50}}</td>
                    <td>{{mat.number|default:"-"}}</td>
                    <td>{{mat.price|default:"-"}}</td>
                    <td>{{mat.unit|default:"-"}}</td>
                    <td>{{mat.code|default:"-"}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>

</main>

{% endblock content %}