{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Tashkilot texnikalari</title>
{% endblock title %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Texnika va materiallar</h1>
    </div>
     <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
                <form class="row g-2 mt-1" method="get">
                    <div class="col-md-3">
                        <label for="status" class="form-label">Xolati</label>
                        <select id="status" name="status" class="form-select">
                          <option value="">Tanlang...</option>
                          <option value="active" {% if request.GET.status == "active" %}selected{% endif %}>Aktiv</option>
                          <option value="free"   {% if request.GET.status == "free" %}selected{% endif %}>Bo'sh</option>
                          <option value="repair" {% if request.GET.status == "repair" %}selected{% endif %}>Ta’mirda</option>
                          <option value="defect" {% if request.GET.status == "defect" %}selected{% endif %}>Brak</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="employee" class="form-label">Xodim</label>
                        <select id="employee" name="employee" class="form-select">
                          <option value="">Tanlang...</option>
                          {% for emp in employees_boss %}
                            <option value="{{ emp.id }}"
                              {% if request.GET.employee|stringformat:"s" == emp.id|stringformat:"s" %}selected{% endif %}>
                              {{ emp.last_name }} {{ emp.first_name }} {{ emp.father_name }}
                            </option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Qidirish</button>
                    </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                 <h5 class="card-title">Texnikalar</h5>
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                 Texnika qo'shish
                 </button>
              </div>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nomi</th>
                    <th scope="col">I/N</th>
                    <th scope="col">S/N</th>
                    <th scope="col">Yili</th>
                  </tr>
                </thead>
                <tbody id="technicsBody">
                {% for tex in technics %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>({{tex.category.name|default:"-"}}) {{tex.name|default:"-"}}</td>
                    <td>{{tex.inventory|default:"-"}}</td>
                    <td>{{tex.serial|default:"-"}}</td>
                    <td>{{tex.year|default:"-"}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="modal fade" id="verticalycentered" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content" method="post" action="{% url 'technics_create' %}">
          {% csrf_token %}

          <div class="modal-header">
            <h5 class="modal-title">Texnika qo‘shish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Kategoriya</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.category }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Tashkilot</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.organization }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Xodim</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.employee }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Xolati</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.status }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Nomi</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.name }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Parametr</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.parametr }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Inventar</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.inventory }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Serial</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.serial }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Mac</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.mac }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Ip</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.ip }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Yil</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.year }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Narxi</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.price }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary">Saqlash</button>
          </div>
        </form>
      </div>
    </div>


    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                 <h5 class="card-title">Material</h5>
                 <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#vertical">
                     Material qo'shish
                 </button>
              </div>
              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Material Nomi</th>
                    <th scope="col">Soni</th>
                    <th scope="col">Narxi</th>
                    <th scope="col">Qiymati</th>
                    <th scope="col">1C code</th>
                  </tr>
                </thead>
                <tbody id="materialBody">
                {% for mat in material %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{mat.name|default:"-"|truncatechars:50}}</td>
                    <td>{{mat.number|default:"-"}}</td>
                    <td>{{mat.price|default:"-"}}</td>
                    <td>{{mat.unit|default:"-"}}</td>
                    <td>{{mat.code|default:"-"}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="modal fade" id="vertical" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content" method="post" action="{% url 'material_create' %}">
          {% csrf_token %}

          <div class="modal-header">
            <h5 class="modal-title">Material qo‘shish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Xodim</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.employee }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Xolati</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.status }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Nomi</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.name }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">1C code</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.code }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Soni</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.number }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Birligi</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.unit }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Narxi</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.price }}
              </div>
            </div>
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Yil</label>
              <div class="col-md-8 col-lg-9">
                {{ material_form.year }}
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary">Saqlash</button>
          </div>
        </form>
      </div>
    </div>

</main>

{% endblock content %}