{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Xabarlar</title>
{% endblock %}

{% block css %}
{% endblock css %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Imzolashga yuborilgan</h1>
      </div>
    </div>

    <section class="section profile">
      <div class="row">

        <!-- RIGHT: TAB CONTENT -->
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-3">

              <ul class="nav nav-pills">
                <li class="nav-pills">
                  <a href="{% url 'contact_user' %}" class="nav-link">Imzolashga yuborilgan</a>
                </li>

                <li class="nav-pills">
                  <a href="{% url 'contact_user_arxiv' %}" class="nav-link active" >Imzolangan</a>
                </li>
              </ul>

              <div class="tab-content pt-2">
                  <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>Imzolovchi xodim</th>
                            <th>Imzolovchi vakil</th>
                            <th>Sana</th>
                            <th>Fayllar</th>
                            <th>Xolati</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in deed_user %}
                        <tr>
                            <td>{{ d.sender.full_name }}</td>
                            <td>{{ d.receiver.full_name }}</td>
                            <td>{{ d.date_creat|date:"d-m-Y H:i" }}</td>
                            <td>
                                {% if d.file and d.file.url %}
                                    <a href="{{ d.file.url }}" target="_blank">
                                        📄 Ko‘rish
                                    </a>
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                            <td>
                                {% if d.receiver %}
                                    {% if d.status_receiver == 'rejected' or d.status_sender == 'rejected'  %}
                                        <span class="btn badge bg-danger" data-bs-toggle="modal" data-bs-target="#modalcondition-r{{ d.id }}">
                                            Rad etildi
                                        </span>
                                    {% elif d.status_sender == 'approved' and d.status_receiver == 'approved' %}
                                        <span class="btn badge bg-success" data-bs-toggle="modal" data-bs-target="#modalcondition-r{{ d.id }}">
                                            Tasdiqlandi
                                        </span>
                                    {% else %}
                                        <span class="btn badge bg-warning" data-bs-toggle="modal" data-bs-target="#modalcondition-r{{ d.id }}">
                                            Kutulmoqda
                                        </span>
                                    {% endif %}
                                {% else %}
                                    {% if d.status_sender == 'rejected'  %}
                                        <span class="btn badge bg-danger" data-bs-toggle="modal" data-bs-target="#modalcondition-r{{ d.id }}">
                                            Rad etildi
                                        </span>
                                    {% elif d.status_sender == 'approved' %}
                                        <span class="btn badge bg-success" data-bs-toggle="modal" data-bs-target="#modalcondition-r{{ d.id }}">
                                            Tasdiqlandi
                                        </span>
                                    {% else %}
                                        <span class="btn badge bg-warning" data-bs-toggle="modal" data-bs-target="#modalcondition-r{{ d.id }}">
                                            Kutulmoqda
                                        </span>
                                    {% endif %}
                                {% endif %}

                                <!-- MODAL -->
                                <div class="modal fade" id="modalcondition-r{{ d.id }}" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                        <div class="modal-content">
                                            <!-- ================= HEADER ================= -->
                                            <div class="modal-header">
                                                <h5 class="modal-title">Dalolatnoma holati</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- ================= BODY ================= -->
                                            <div class="modal-body">

                                                <!-- ================= USER ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Jo'natuvchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>F.I.O:</strong> {{ d.user.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong></strong>
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_creat|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_user %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_user }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= SENDER ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Imzolovchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>F.I.O:</strong> {{ d.sender.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_sender == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_sender == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_sender == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_sender|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_sender %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_sender }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= RECEIVER ================= -->
                                                {% if d.receiver %}
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Imzolovchi vakil</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>F.I.O:</strong> {{ d.receiver.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_receiver == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_receiver == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_receiver == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_receiver|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_receiver %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_receiver }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                {% endif %}

                                                <!-- ================= KELISHUVCHILAR ================= -->
                                                {% if d.deedconsent_set.count %}
                                                    <div class="mb-4 p-3 border rounded bg-light">
                                                        <h5 class="fw-bold mb-2">Kelishuvchilar</h5><hr>
                                                        {% for dc in d.deedconsent_set.all %}
                                                            <div class="row">
                                                                <div class="col-6"><strong>F.I.O:</strong> {{ dc.employee.full_name }}</div>
                                                                <div class="col-3">
                                                                    <strong>Holati:</strong>
                                                                    {% if dc.status == 'viewed' %}
                                                                        <span class="badge bg-warning">Kutulmoqda</span>
                                                                    {% elif dc.status == 'approved' %}
                                                                        <span class="badge bg-success">Tasdiqlandi</span>
                                                                    {% elif dc.status == 'rejected' %}
                                                                        <span class="badge bg-danger">Rad etildi</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-3"><strong>Sana:</strong> {{ dc.date_edit|date:"d.m.Y H:i" }}</div>
                                                            </div>
                                                            {% if dc.message %}
                                                                <div class="mt-2">
                                                                    <strong>Izoh:</strong>
                                                                    <span class="text-muted">{{ dc.message }}</span>
                                                                </div>
                                                            {% endif %}<hr>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

</main>


{% endblock content %}