{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Arizalar</title>
{% endblock %}

{% block css %}

{% endblock css %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <div class="d-flex justify-content-between align-items-center">
        <h1>Xabarlar</h1>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#sendModal">
          Xabar yuborish
        </button>
      </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="sendModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title">#Xabar yuborish</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
              <div class="px-4">

                <!-- Imzolovchi -->
                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Imzolovchi</label>
                  <div class="col-sm-9">
                    <select class="form-select select2" name="employee" id="employee" required>
                      <option value="">Tanlang...</option>
                      {% for emp in employee %}
                        <option value="{{ emp.id }}">{{ emp.full_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <!-- File -->
                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Fayl</label>
                  <div class="col-sm-9">
                    <input class="form-control" type="file" name="file" required>
                  </div>
                </div>

                <!-- Izoh -->
                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Izoh</label>
                  <div class="col-sm-9">
                    <textarea class="form-control" name="body" rows="4" placeholder="Izoh yozing..."></textarea>
                  </div>
                </div>

                <!-- Kelishuvchilar -->
                <div class="row mb-3">
                  <label class="col-sm-3 col-form-label">Kelishuvchilar</label>
                  <div class="col-sm-9">
                    <select id="kelishuvchilar" name="consent[]" class="form-select select2" multiple>
                      {% for emp in employee %}
                        <option value="{{ emp.id }}">{{ emp.rank }} - {{ emp.full_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

              </div>
            </div>

            <div class="modal-footer justify-content-center gap-2">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bekor qilish</button>
              <button type="submit" class="btn btn-primary">Yuborish</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <section class="section profile">
      <div class="row">

        <!-- RIGHT: TAB CONTENT -->
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body pt-3">

              <ul class="nav nav-tabs nav-tabs-bordered">
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab"
                          data-bs-target="#profile-sender">Imzolashga yuborilgan</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                          data-bs-target="#profile-receiver">Imzolashga Kelgan</button>
                </li>
                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab"
                          data-bs-target="#profile-consent">Kelishish uchun Kelgan</button>
                </li>
              </ul>
              <div class="tab-content pt-2">
                <div class="tab-pane fade show active profile-sender pt-3" id="profile-sender">
                  <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>Imzolovchi</th>
                            <th>Sana</th>
                            <th>Fayllar</th>
                            <th>Xolati</th>
                            <th>Tasdiqlash</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in deed_sender %}
                        <tr>
                            <td>{{ d.receiver.full_name }}</td>
                            <td>{{ d.date_creat|date:"d-m-Y H:i" }}</td>
                            <td>
                                {% if d.file %}
                                    <a href="{{ d.file.url }}" target="_blank">📄 Ko‘rish</a>
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                            <td>
                                {% if d.status_receiver == 'rejected' or d.status_sender == 'rejected'  %}
                                    <span class="btn badge bg-danger" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Rad etildi
                                    </span>
                                {% elif d.status_sender == 'approved' and d.status_receiver == 'approved' %}
                                    <span class="btn badge bg-success" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Tasdiqlandi
                                    </span>
                                {% else %}
                                    <span class="btn badge bg-warning" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Kutulmoqda
                                    </span>
                                {% endif %}

                                <!-- MODAL -->
                                <div class="modal fade" id="modalcondition{{ d.id }}" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                        <div class="modal-content">
                                            <!-- ================= HEADER ================= -->
                                            <div class="modal-header">
                                                <h5 class="modal-title">Dalolatnoma holati</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- ================= BODY ================= -->
                                            <div class="modal-body">

                                                <!-- ================= SENDER ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Yuboruvchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>Ismi:</strong> {{ d.sender.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_sender == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_sender == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_sender == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_creat|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_sender %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_sender }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= RECEIVER ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Imzolovchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>Ismi:</strong> {{ d.receiver.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_receiver == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_receiver == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_receiver == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_edit|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_receiver %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_receiver }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= KELISHUVCHILAR ================= -->

                                                {% if d.deedconsent_set.all %}
                                                    <div class="mb-4 p-3 border rounded bg-light">
                                                        <h5 class="fw-bold mb-2">Kelishuvchilar</h5><hr>
                                                        {% for dc in d.deedconsent_set.all %}
                                                            <div class="row">
                                                                <div class="col-6"><strong>Ismi:</strong> {{ dc.employee.full_name }}</div>
                                                                <div class="col-3">
                                                                    <strong>Holati:</strong>
                                                                    {% if dc.status == 'viewed' %}
                                                                        <span class="badge bg-warning">Kutulmoqda</span>
                                                                    {% elif dc.status == 'approved' %}
                                                                        <span class="badge bg-success">Tasdiqlandi</span>
                                                                    {% elif dc.status == 'rejected' %}
                                                                        <span class="badge bg-danger">Rad etildi</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-3"><strong>Sana:</strong> {{ dc.date_edit|date:"d.m.Y H:i" }}</div>
                                                            </div>
                                                            {% if dc.message %}
                                                                <div class="mt-2">
                                                                    <strong>Izoh:</strong>
                                                                    <span class="text-muted">{{ dc.message }}</span>
                                                                </div>
                                                            {% endif %}<hr>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <p class="text-muted">Kelishuvchilar yo‘q</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Holat -->
                            <td>
                                <button class="btn badge btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}">
                                    Tasdiqlash
                                </button>
                                <!-- MODAL -->
                                {% if d.status_sender == "viewed" %}
                                    <div class="modal fade" id="modal{{ d.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Tasdiqlash</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        Hujjat tasdiqlangandan so‘ng hujjat yuridik kuchga ega bo‘ladi va rasmiylashtiriladi.
                                                    </div><hr>
                                                    <form method="post" action="{% url 'deed_action' d.id %}">
                                                        {% csrf_token %}

                                                        <div class="mb-3">
                                                            <textarea
                                                                name="message"
                                                                class="form-control"
                                                                style="height: 100px"
                                                                placeholder="Izoh yozing...">{{d.message_sender}}</textarea>
                                                        </div>

                                                        <div class="d-flex justify-content-center gap-2">
                                                            <button name="action" value="reject" class="btn btn-danger">
                                                                Rad etish
                                                            </button>
                                                            <button name="action" value="approve" class="btn btn-primary">
                                                                Tasdiqlash
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div class="tab-pane fade pt-3" id="profile-receiver">
                  <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>Yuboruvchi</th>
                            <th>Sana</th>
                            <th>Fayllar</th>
                            <th>Xolati</th>
                            <th>Tasdiqlash</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in deed_receiver %}
                        <tr>
                            <td>{{ d.sender.full_name }}</td>
                            <td>{{ d.date_creat|date:"d-m-Y H:i" }}</td>
                            <td>
                                {% if d.file %}
                                    <a href="{{ d.file.url }}" target="_blank">📄 Ko‘rish</a>
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                            <td>
                                {% if d.status_receiver == 'rejected' or d.status_sender == 'rejected'  %}
                                    <span class="btn badge bg-danger" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Rad etildi
                                    </span>
                                {% elif d.status_sender == 'approved' and d.status_receiver == 'approved' %}
                                    <span class="btn badge bg-success" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Tasdiqlandi
                                    </span>
                                {% else %}
                                    <span class="btn badge bg-warning" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Kutulmoqda
                                    </span>
                                {% endif %}

                                <!-- MODAL -->
                                <div class="modal fade" id="modalcondition{{ d.id }}" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                        <div class="modal-content">
                                            <!-- ================= HEADER ================= -->
                                            <div class="modal-header">
                                                <h5 class="modal-title">Dalolatnoma holati</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- ================= BODY ================= -->
                                            <div class="modal-body">

                                                <!-- ================= receiver ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Yuboruvchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>Ismi:</strong> {{ d.sender.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_sender == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_sender == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_sender == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_creat|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_sender %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_sender }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= RECEIVER ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Imzolovchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>Ismi:</strong> {{ d.receiver.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_receiver == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_receiver == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_receiver == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_edit|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_receiver %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_receiver }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= KELISHUVCHILAR ================= -->

                                                {% if d.deedconsent_set.all %}
                                                    <div class="mb-4 p-3 border rounded bg-light">
                                                        <h5 class="fw-bold mb-2">Kelishuvchilar</h5><hr>
                                                        {% for dc in d.deedconsent_set.all %}
                                                            <div class="row">
                                                                <div class="col-6"><strong>Ismi:</strong> {{ dc.employee.full_name }}</div>
                                                                <div class="col-3">
                                                                    <strong>Holati:</strong>
                                                                    {% if dc.status == 'viewed' %}
                                                                        <span class="badge bg-warning">Kutulmoqda</span>
                                                                    {% elif dc.status == 'approved' %}
                                                                        <span class="badge bg-success">Tasdiqlandi</span>
                                                                    {% elif dc.status == 'rejected' %}
                                                                        <span class="badge bg-danger">Rad etildi</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-3"><strong>Sana:</strong> {{ dc.date_edit|date:"d.m.Y H:i" }}</div>
                                                            </div>
                                                            {% if dc.message %}
                                                                <div class="mt-2">
                                                                    <strong>Izoh:</strong>
                                                                    <span class="text-muted">{{ dc.message }}</span>
                                                                </div>
                                                            {% endif %}<hr>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <p class="text-muted">Kelishuvchilar yo‘q</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Holat -->
                            <td>
                                <button class="btn badge btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}">
                                    Tasdiqlash
                                </button>
                                <!-- MODAL -->
                                {% if d.status_receiver == "viewed" %}
                                    <div class="modal fade" id="modal{{ d.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Tasdiqlash</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        Hujjat tasdiqlangandan so‘ng hujjat yuridik kuchga ega bo‘ladi va rasmiylashtiriladi.
                                                    </div><hr>
                                                    <form method="post" action="{% url 'deed_action' d.id %}">
                                                        {% csrf_token %}

                                                        <div class="mb-3">
                                                            <textarea
                                                                name="message"
                                                                class="form-control"
                                                                style="height: 100px"
                                                                placeholder="Izoh yozing..."></textarea>
                                                        </div>

                                                        <div class="d-flex justify-content-center gap-2">
                                                            <button name="action" value="reject" class="btn btn-danger">
                                                                Rad etish
                                                            </button>
                                                            <button name="action" value="approve" class="btn btn-primary">
                                                                Tasdiqlash
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

                <div class="tab-pane fade pt-3" id="profile-consent">
                  <table class="table table-bordered align-middle">
                    <thead>
                        <tr>
                            <th>Yuboruvchi</th>
                            <th>Imzolovchi</th>
                            <th>Sana</th>
                            <th>Fayllar</th>
                            <th>Xolati</th>
                            <th>Tasdiqlash</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for d in deed_consent %}
                        <tr>
                            <td>{{ d.sender.full_name }}</td>
                            <td>{{ d.receiver.full_name }}</td>
                            <!-- Sana -->
                            <td>{{ d.date_creat|date:"d-m-Y H:i" }}</td>

                            <!-- Fayl -->
                            <td>
                                {% if d.file %}
                                    <a href="{{ d.file.url }}" target="_blank">📄 Ko‘rish</a>
                                {% else %}
                                    —
                                {% endif %}
                            </td>
                            <!-- Holat -->
                            <td>
                                {% if d.status_receiver == 'rejected' or d.status_sender == 'rejected'  %}
                                    <span class="btn badge bg-danger" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Rad etildi
                                    </span>
                                {% elif d.status_sender == 'approved' and d.status_receiver == 'approved' %}
                                    <span class="btn badge bg-success" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Tasdiqlandi
                                    </span>
                                {% else %}
                                    <span class="btn badge bg-warning" data-bs-toggle="modal" data-bs-target="#modalcondition{{ d.id }}">
                                        Kutulmoqda
                                    </span>
                                {% endif %}

                                <!-- Ikonka -->
                                {% if d.sender.user == user %}
                                    <i class="bi bi-arrow-up"></i>
                                {% elif d.receiver.user == user %}
                                    <i class="bi bi-arrow-down"></i>
                                {% else %}
                                    <i class="bi bi-arrow-left-right"></i>
                                {% endif %}

                                <!-- MODAL -->
                                <div class="modal fade" id="modalcondition{{ d.id }}" tabindex="-1">
                                    <div class="modal-dialog modal-dialog-centered modal-xl">
                                        <div class="modal-content">
                                            <!-- ================= HEADER ================= -->
                                            <div class="modal-header">
                                                <h5 class="modal-title">Dalolatnoma holati</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- ================= BODY ================= -->
                                            <div class="modal-body">

                                                <!-- ================= SENDER ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Yuboruvchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>Ismi:</strong> {{ d.sender.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_sender == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_sender == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_sender == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_creat|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_sender %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_sender }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= RECEIVER ================= -->
                                                <div class="mb-4 p-3 border rounded bg-light">
                                                    <h5 class="fw-bold mb-2">Imzolovchi</h5><hr>
                                                    <div class="row">
                                                        <div class="col-6"><strong>Ismi:</strong> {{ d.receiver.full_name }}</div>
                                                        <div class="col-3">
                                                            <strong>Holati:</strong>
                                                            {% if d.status_receiver == 'viewed' %}
                                                                <span class="badge bg-warning">Kutulmoqda</span>
                                                            {% elif d.status_receiver == 'approved' %}
                                                                <span class="badge bg-success">Tasdiqlandi</span>
                                                            {% elif d.status_receiver == 'rejected' %}
                                                                <span class="badge bg-danger">Rad etildi</span>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col-3"><strong>Sana:</strong> {{ d.date_edit|date:"d.m.Y H:i" }}</div>
                                                    </div>
                                                    {% if d.message_receiver %}
                                                        <div class="mt-2">
                                                            <strong>Izoh:</strong>
                                                            <span class="text-muted">{{ d.message_receiver }}</span>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <!-- ================= KELISHUVCHILAR ================= -->

                                                {% if d.deedconsent_set.all %}
                                                    <div class="mb-4 p-3 border rounded bg-light">
                                                        <h5 class="fw-bold mb-2">Kelishuvchilar</h5><hr>
                                                        {% for dc in d.deedconsent_set.all %}
                                                            <div class="row">
                                                                <div class="col-6"><strong>Ismi:</strong> {{ dc.employee.full_name }}</div>
                                                                <div class="col-3">
                                                                    <strong>Holati:</strong>
                                                                    {% if dc.status == 'viewed' %}
                                                                        <span class="badge bg-warning">Kutulmoqda</span>
                                                                    {% elif dc.status == 'approved' %}
                                                                        <span class="badge bg-success">Tasdiqlandi</span>
                                                                    {% elif dc.status == 'rejected' %}
                                                                        <span class="badge bg-danger">Rad etildi</span>
                                                                    {% endif %}
                                                                </div>
                                                                <div class="col-3"><strong>Sana:</strong> {{ dc.date_edit|date:"d.m.Y H:i" }}</div>
                                                            </div>
                                                            {% if dc.message %}
                                                                <div class="mt-2">
                                                                    <strong>Izoh:</strong>
                                                                    <span class="text-muted">{{ dc.message }}</span>
                                                                </div>
                                                            {% endif %}<hr>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <p class="text-muted">Kelishuvchilar yo‘q</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Holat -->
                            <td>
                                <button class="btn badge btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}">
                                    Tasdiqlash
                                </button>
                                <!-- MODAL -->
                                {% for dc in d.deedconsent_set.all %}
                                   {% if dc.status == 'viewed' %}
                                    <div class="modal fade" id="modal{{ d.id }}" tabindex="-1">
                                        <div class="modal-dialog modal-dialog-centered modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Tasdiqlash</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div>
                                                        Hujjat tasdiqlangandan so‘ng hujjat yuridik kuchga ega bo‘ladi va rasmiylashtiriladi.
                                                    </div>
                                                    <hr>
                                                    <form method="post" action="{% url 'deedconsent_action' dc.id %}">
                                                        {% csrf_token %}
                                                        <div class="mb-3">
                                                            <textarea
                                                                name="message"
                                                                class="form-control"
                                                                style="height: 100px"
                                                                placeholder="Izoh yozing..."></textarea>
                                                        </div>
                                                        <div class="d-flex justify-content-center gap-2">
                                                            <button name="action" value="reject" class="btn btn-danger">Rad etish</button>
                                                            <button name="action" value="approve" class="btn btn-primary">Tasdiqlash</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section>

</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(function () {
    $('#sendModal').on('shown.bs.modal', function () {
      $(this).find('select.select2').each(function () {
        if (!$(this).hasClass('select2-hidden-accessible')) {
          $(this).select2({
            width: '100%',
            dropdownParent: $('#sendModal'),
            placeholder: 'Tanlang...'
          });
        }
      });
    });
  });
</script>


{% endblock content %}
