<!DOCTYPE html>{% load static %}
<html lang="uz">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dalolatnoma holati</title>

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body class="bg-light">

  <div class="card shadow-sm p-3">
    <div class="card-header d-flex align-items-center justify-content-between">
      <h5 class="m-0">Dalolatnoma Kodi: {{d.code}}</h5>
      <a href="{{ d.file.url }}" >📄 Ko‘rish</a>
    </div>

    <div class="modal-body">

        <!-- ================= USER ================= -->
        <div class="mb-4 p-3 border rounded bg-light">
            <h5 class="fw-bold mb-2">Jo'natuvchi</h5><hr>
            <div class="row">
                <div class="col-6"><strong>F.I.O:</strong> {{ d.user.full_name }}</div>
                <div class="col-3">
                    <strong></strong>
                </div>
                <div class="col-3"><strong>Sana:</strong> {{ d.date_creat|date:"d.m.Y H:i" }}</div>
            </div>
            {% if d.message_user %}
                <div class="mt-2">
                    <strong>Izoh:</strong>
                    <span class="text-muted">{{ d.message_user }}</span>
                </div>
            {% endif %}
        </div>

        <!-- ================= SENDER ================= -->
        <div class="mb-4 p-3 border rounded bg-light">
            <h5 class="fw-bold mb-2">Imzolovchi {{d.sender.organization}} vakili </h5><hr>
            <div class="row">
                <div class="col-6"><strong>F.I.O:</strong> {{ d.sender.full_name }}</div>
                <div class="col-3">
                    <strong>Holati:</strong>
                    {% if d.status_sender == 'viewed' %}
                        <span class="badge bg-warning">Kutulmoqda</span>
                    {% elif d.status_sender == 'approved' %}
                        <span class="badge bg-success">Tasdiqlandi</span>
                    {% elif d.status_sender == 'rejected' %}
                        <span class="badge bg-danger">Rad etildi</span>
                    {% endif %}
                </div>
                <div class="col-3"><strong>Sana:</strong> {{ d.date_sender|date:"d.m.Y H:i" }}</div>
            </div>
            {% if d.message_sender %}
                <div class="mt-2">
                    <strong>Izoh:</strong>
                    <span class="text-muted">{{ d.message_sender }}</span>
                </div>
            {% endif %}
        </div>

        <!-- ================= RECEIVER ================= -->
        {% if d.receiver %}
        <div class="mb-4 p-3 border rounded bg-light">
            <h5 class="fw-bold mb-2">Imzolovchi {{d.receiver.organization}} vakili </h5><hr>
            <div class="row">
                <div class="col-6"><strong>F.I.O:</strong> {{ d.receiver.full_name }}</div>
                <div class="col-3">
                    <strong>Holati:</strong>
                    {% if d.status_receiver == 'viewed' %}
                        <span class="badge bg-warning">Kutulmoqda</span>
                    {% elif d.status_receiver == 'approved' %}
                        <span class="badge bg-success">Tasdiqlandi</span>
                    {% elif d.status_receiver == 'rejected' %}
                        <span class="badge bg-danger">Rad etildi</span>
                    {% endif %}
                </div>
                <div class="col-3"><strong>Sana:</strong> {{ d.date_receiver|date:"d.m.Y H:i" }}</div>
            </div>
            {% if d.message_receiver %}
                <div class="mt-2">
                    <strong>Izoh:</strong>
                    <span class="text-muted">{{ d.message_receiver }}</span>
                </div>
            {% endif %}
        </div>
        {% endif %}

        <!-- ================= KELISHUVCHILAR ================= -->
        {% if d.deedconsent_set.count %}
            {% for dc in d.deedconsent_set.all %}
            <div class="mb-4 p-3 border rounded bg-light">
                <h5 class="fw-bold mb-2">Kelishuvchi {{dc.employee.organization.name}} vakili</h5><hr>
                <div class="row">
                    <div class="col-6"><strong>F.I.O:</strong> {{ dc.employee.full_name }}</div>
                    <div class="col-3">
                        <strong>Holati:</strong>
                        {% if dc.status == 'viewed' %}
                            <span class="badge bg-warning">Kutulmoqda</span>
                        {% elif dc.status == 'approved' %}
                            <span class="badge bg-success">Kelishildi</span>
                        {% elif dc.status == 'rejected' %}
                            <span class="badge bg-danger">Rad etildi</span>
                        {% endif %}
                    </div>
                    <div class="col-3"><strong>Sana:</strong>
                        {% if dc.status == 'approved' or dc.status == 'rejected' %}
                        {{ dc.date_edit|date:"d.m.Y H:i" }}
                        {% endif %}
                    </div>
                </div>
                {% if dc.message %}
                    <div class="mt-2">
                        <strong>Izoh:</strong>
                        <span class="text-muted">{{ dc.message }}</span>
                    </div>
                {% endif %}<hr>
            </div>
            {% endfor %}
        {% endif %}
    </div>
  </div>

<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
