{% extends 'base.html' %}{% load humanize %}
{% load static %}

{% block title %}
<title>Texnikalari</title>
{% endblock title %}

{% block content %}

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Qo‘shimcha qurilmalar</h1>
    </div>

    <!-- FILTER -->
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <form class="row g-2 mt-1" method="get">

                    <div class="col-md-3">
                        <label for="organization" class="form-label">Tashkilotlar</label>
                        <select id="organization" name="organization" class="form-select">
                          <option value="">Tanlang...</option>
                          {% for org in organizations %}
                            <option value="{{ org.id }}"
                              {% if request.GET.organization|stringformat:"s" == org.id|stringformat:"s" %}selected{% endif %}>
                              {{ org.name }}
                            </option>
                          {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3">
                      <label for="status" class="form-label">Xolati</label>
                      <select id="status" name="status" class="form-select">
                        <option value="">Tanlang...</option>
                        <option value="active" {% if request.GET.status == "active" %}selected{% endif %}>Aktiv</option>
                        <option value="free"   {% if request.GET.status == "free" %}selected{% endif %}>Bo'sh</option>
                        <option value="repair" {% if request.GET.status == "repair" %}selected{% endif %}>Ta’mirda</option>
                        <option value="defect" {% if request.GET.status == "defect" %}selected{% endif %}>Brak</option>
                      </select>
                    </div>

                    <div class="col-md-3">
                        <label for="category" class="form-label">Kategoriya</label>
                        <select id="category" name="category" class="form-select">
                          <option value="">Tanlang...</option>
                          {% for c in categories %}
                            <option value="{{ c.id }}"
                              {% if request.GET.category|stringformat:"s" == c.id|stringformat:"s" %}selected{% endif %}>
                              {{ c.name }}
                            </option>
                          {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-3">
                      <label for="name" class="form-label">Name</label>
                      <input id="name" type="text" name="name" class="form-control"
                             value="{{ request.GET.name|default:'' }}"
                             placeholder="Texnika nomi...">
                    </div>

                    <div class="col-md-3 d-flex align-items-end">
                      <button type="submit" class="btn btn-primary w-100">Qidirish</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>

    <!-- TEXNIKALAR -->
    <section class="section">
      <div class="row">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">

               <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title mb-0">
                    Qurilmalar {{ total_count }} ta</i>
                  </h5>

                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                    + Qurilma qo'shish
                  </button>
               </div>

              <!-- ✅ datatable class olib tashlandi -->
              <table class="table table-bordered table-hover table-sm">
                <thead class="table-secondary">
                  <tr>
                    <th scope="col">T/r</th>
                    <th scope="col">Nomi</th>
                    <th scope="col">I/N</th>
                    <th scope="col">S/N</th>
                    <th scope="col">Yili</th>
                    {% if request.user.employee.rol.material_edit %}
                    <th scope="col">Tafsif</th>
                    {% endif %}
                  </tr>
                </thead>

                <tbody id="technicsBody">
                  {% for tex in technics %}
                    <tr>
                      {# page bo‘yicha raqam #}
                      <th scope="row">
                        {{ row_start|add:forloop.counter0 }}
                      </th>
                      <td style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#qkcentered{{tex.id}}">{{ tex.name|default:"-" }}</td>
                      <td style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#qkcentered{{tex.id}}">{{ tex.inventory|default:"-" }}</td>
                      <td style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#qkcentered{{tex.id}}">{{ tex.serial|default:"-" }}</td>
                      <td style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#qkcentered{{tex.id}}">{{ tex.year|default:"-" }}</td>
                      {% if request.user.employee.rol.material_edit %}
                      <td>
                        <div class="filter">
                          <a class="icon" href="javascript:void(0)" data-bs-toggle="dropdown">
                            <i class="bi bi-stack" style="font-size: 18px;"></i>
                          </a>

                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li>
                              <a class="dropdown-item" href="javascript:void(0)"
                                 data-bs-toggle="modal" data-bs-target="#texdel-{{ tex.id }}">
                                <i class="bi bi-trash"></i> O'chirish
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="javascript:void(0)"
                                 data-bs-toggle="modal" data-bs-target="#textax-{{ tex.id }}">
                                <i class="bi bi-brush"></i> Tahrirlash
                              </a>
                            </li>
                          </ul>
                        </div>
                      </td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              <!-- PAGINATION -->
              {% if page_obj.paginator.num_pages > 1 %}
              <nav aria-label="Order pagination" class="mt-3">
                <ul class="pagination justify-content-center">

                  {# Oldingi #}
                  {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?{{ qs_params }}&page={{ page_obj.previous_page_number }}">‹</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">‹</span></li>
                  {% endif %}

                  {# Sahifa raqamlari #}
                  {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                      <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num >= page_obj.number|add:-3 and num <= page_obj.number|add:3 %}
                      <li class="page-item">
                        <a class="page-link" href="?{{ qs_params }}&page={{ num }}">{{ num }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                  {# Keyingi #}
                  {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?{{ qs_params }}&page={{ page_obj.next_page_number }}">›</a>
                    </li>
                  {% else %}
                    <li class="page-item disabled"><span class="page-link">›</span></li>
                  {% endif %}

                </ul>
              </nav>
              {% endif %}

            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- TEXNIKA CREATE MODAL -->
    <div class="modal fade" id="verticalycentered" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form class="modal-content" method="post" action="{% url 'extra_tex_create' %}">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title">Qurilma qo‘shish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Tashkilot</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.organization }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Kategoriya</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.category }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Nomi</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.name }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Parametr</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.parametr }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Inventar</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.inventory }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Serial</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.serial }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Yil</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.year }}
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Narxi</label>
              <div class="col-md-8 col-lg-9">
                {{ technics_form.price }}
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary">Saqlash</button>
          </div>
        </form>
      </div>
    </div>

    {% for tex in technics %}
    <div class="modal fade" id="texdel-{{ tex.id }}" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form method="post" class="modal-content" action="{% url 'extra_tex_delete' %}">
          {% csrf_token %}

          <div class="modal-header">
            <h5 class="modal-title">Qurilmani o'chirish</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <input type="hidden" name="texnika_id" value="{{ tex.id }}">

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Nomi</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" class="form-control" value="{{ tex.name }}" disabled>
              </div>
            </div>


            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Parametr</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" class="form-control" value="{{ tex.parametr }}" disabled>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Inventory</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" class="form-control" value="{{ tex.inventory }}" disabled>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Serial</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" class="form-control" value="{{ tex.serial }}" disabled>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary"
            onclick="return confirm('Texnikani o\'chirasizmi?')">
                O'chirish</button>
          </div>

        </form>
      </div>
    </div>

    <div class="modal fade" id="textax-{{ tex.id }}" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <form method="post" class="modal-content" action="{% url 'extra_tex_update' tex.id %}">
          {% csrf_token %}

          <div class="modal-header">
            <h5 class="modal-title">Qurilmani tahrirlash</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Tashkilot</label>
              <div class="col-md-8 col-lg-9">
                  <select name="organization" class="form-select" required>
                    <option value="">— Tanlang —</option>
                    {% for o in organizations %}
                      <option value="{{ o.id }}" {% if tex.organization_id == o.id %}selected{% endif %}>
                        {{ o.name }}
                      </option>
                    {% endfor %}
                  </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Kategoriya</label>
              <div class="col-md-8 col-lg-9">
                  <select name="category" class="form-select" required>
                    <option value="">— Tanlang —</option>
                    {% for c in categories %}
                      <option value="{{ c.id }}" {% if tex.category_id == c.id %}selected{% endif %}>
                        {{ c.name }}
                      </option>
                    {% endfor %}
                  </select>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Nomi</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" name="name" class="form-control" value="{{ tex.name }}" required>
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Parametr</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" name="parametr" class="form-control" value="{{ tex.parametr|default_if_none:'' }}">
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Inventory</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" name="inventory" class="form-control" value="{{ tex.inventory|default_if_none:'' }}">
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Serial</label>
              <div class="col-md-8 col-lg-9">
                  <input type="text" name="serial" class="form-control" value="{{ tex.serial|default_if_none:'' }}">
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Yil</label>
              <div class="col-md-8 col-lg-9">
                  <input type="number" name="year" class="form-control" value="{{ tex.year|default_if_none:'' }}">
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-md-4 col-lg-3 col-form-label">Narxi</label>
              <div class="col-md-8 col-lg-9">
                  <input type="number" step="0.01" name="price"
                     class="form-control"
                     value="{{ tex.price|default_if_none:''|stringformat:'s'|cut:',' }}">
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yopish</button>
            <button type="submit" class="btn btn-primary"
            onclick="return confirm('Texnikani tahrirlaysizmi?')">
                Saqlash</button>
          </div>
        </form>
      </div>
    </div>

    <!-- TEXNIKA QK -->
    <div class="modal fade" id="qkcentered{{ tex.id }}" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title">
              <i class="bi bi-cpu me-2"></i>Qurilma tafsiloti
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <div class="modal-body">
            <!-- TEXNIKA UMUMIY MALUMOT -->
            <div class="mb-4 p-3 border rounded bg-light">
              <div>
                <i class="bi bi-info-circle me-2"></i>Umumiy ma'lumot
              </div><hr>
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Texnika</div>
                  <div class="col-md-7">
                    {{ tex.technics.name|default:"-" }}<br>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Tashkilot</div>
                  <div class="col-md-7">
                    {{ tex.organization.name|default:"-" }}<br>
                  </div>
                </div>

                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Nomi</div>
                  <div class="col-md-7">
                    {{ tex.category.name }} {{ tex.name|default:"-" }}
                  </div>
                </div>
                {% if tex.parametr %}
                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Parametr</div>
                  <div class="col-md-7">
                    {{ tex.parametr|default:"-" }}
                  </div>
                </div>
                {% endif %}
                {% if tex.inventory %}
                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Inventory</div>
                  <div class="col-md-7">
                    {{ tex.inventory|default:"-" }}
                  </div>
                </div>
                {% endif %}
                {% if tex.serial %}
                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Serial</div>
                  <div class="col-md-7">
                    {{ tex.serial|default:"-" }}
                  </div>
                </div>
                {% endif %}
                {% if tex.year %}
                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Yili</div>
                  <div class="col-md-7">
                    {{ tex.year|default:"-" }}
                  </div>
                </div>
                {% endif %}
                {% if tex.price %}
                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Narxi</div>
                  <div class="col-md-7">
                    {{ tex.price|intcomma|default:"-" }}
                  </div>
                </div>
                {% endif %}

                <div class="row mb-2">
                  <div class="col-md-5 text-muted">Holati</div>
                  <div class="col-md-7">
                    {% if tex.status == "free" %}
                      <span class="badge bg-secondary">Bo'sh</span>
                    {% elif tex.status == "active" %}
                      <span class="badge bg-primary">Aktiv</span>
                    {% elif tex.status == "repair" %}
                      <span class="badge bg-warning ">Ta’mirda</span>
                    {% elif tex.status == "defect" %}
                      <span class="badge bg-danger">Yaroqsiz</span>
                    {% else %}
                      <span class="badge bg-secondary">Noma'lum</span>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Yopish
            </button>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}

</main>
{% endblock content %}
