<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup>
      <col style="width:60%;">
      <col style="width:40%;">
    </colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;text-align:center;"></td>
        <td style="border:1px solid #fff;text-align:center;">
          <b>Byudjet tashkilotlarida buxgalteriya hisobi toʼgʼrisidagi yoʼriqnomaga 30-ILOVА</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div style="text-align:right;"><u>{{ today|date:"d.m.Y" }} y</u></div>
<div style="text-align:center;"><b>{{ order.id }} - sonli YuK XАTI (TАLАBNOMА)</b></div>
<div style="text-align:right;"><b>434-son shakl</b></div>

<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;"><strong>Oluvchi tashkilot nomi</strong><br></td>
        <td style="border:1px solid #fff;"><strong>{{ order.sender.organization.name|default:"" }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;"><strong>Tarkibiy boʼlinma</strong><br></td>
        <td style="border:1px solid #fff;"><strong>{{ order.sender.department.name|default:"" }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;"><strong>Jo'natuvchi tashkilot nomi</strong><br></td>
        <td style="border:1px solid #fff;"><strong>{{ order.receiver.organization.name|default:"" }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;"><strong>Moddiy javobgar shaxs</strong><br></td>
        <td style="border:1px solid #fff;"><strong>{{ order.receiver.full_name|default:"" }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table style="border-collapse:collapse;width:100%;" border="1">
    <colgroup>
      <col style="width:5%;"><col style="width:20%;"><col style="width:15%;">
      <col style="width:15%;"><col style="width:15%;"><col style="width:15%;"><col style="width:15%;">
    </colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;" rowspan="2">№</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;" rowspan="2">Moddiy qiymatliklarning nomi, navi va oʼlchami</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;" rowspan="2">Oʼlchov birligi</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;" colspan="2">Miqdor</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;" rowspan="2">Narxi, soʼm</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;" rowspan="2">Summa, soʼm</td>
      </tr>
      <tr>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">talab qilingan</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">berilgan</td>
      </tr>

      {% for i in order.materials_all %}
      <tr>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">{{ forloop.counter }}</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">{{ i.material.name }}</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">{{ i.material.unit.name|default:"" }}</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">{{ i.number }}</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">{{ i.given|default:"" }}</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">{{ i.material.price|default:"" }}</td>
        <td style="border:1px solid #000;font-size:10pt;text-align:center;">{{ i.given_summa }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;"><strong>Tasdiqlovchi : </strong><br></td>
        <td style="border:1px solid #fff;"><strong>{{ order.user.full_name|default:"" }} {{ order.user.rank.name|default:"" }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;"><strong>Berdi :</strong><br></td>
        <td style="border:1px solid #fff;"><strong>{{ order.receiver.full_name|default:"" }} {{ order.receiver.rank.name|default:"" }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table style="border-collapse:collapse;width:100%;">
    <colgroup><col style="width:50%;"><col style="width:50%;"></colgroup>
    <tbody>
      <tr>
        <td style="border:1px solid #fff;"><strong>Oldi :</strong><br></td>
        <td style="border:1px solid #fff;"><strong>{{ order.sender.full_name|default:"" }} {{ order.sender.rank.name|default:"" }}</strong></td>
      </tr>
    </tbody>
  </table>
</div>