{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Tashkilot texnikalari</title>
{% endblock title %}

{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
      <h1>Texnikalarim</h1>
    </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{request.user.employee.full_name}}</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nomi</th>
                    <th scope="col">I/N</th>
                    <th scope="col">S/N</th>
                    <th scope="col">Mac</th>
                    <th scope="col">Yili</th>
                  </tr>
                </thead>
                <tbody>
                {% for tex in technics %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{tex.category.name}}

                        {{ tex.name|default:"-" }}</td>
                    <td>{{ tex.inventory|default:"-" }}</td>
                    <td>{{ tex.serial|default:"-" }}</td>
                    <td>{{ tex.mac|default:"-" }}</td>
                    <td>{{ tex.year|default:"-" }}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
        </div>

      </div>
    </div>
  </section>

</main>

{% endblock content %}